@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

*{
    font-family: 'Open Sans Hebrew', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    border:none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    background-image: url(../donasi_images/donasi7.png);
    background-repeat: no-repeat;
    background-position: -250px -80px;
    background-color: #ffffff;
}

.contents {
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    margin-bottom: 60px;
    padding: 60px 100px;
    max-width: 58%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #baa99f;
}

.Pilih-Metode,
.Identitas,
.Harapan,
.lanjut-bayar {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.PUSPA h1{
  color: #406A40;
  margin-bottom: 30px;
  font-size: 30px;
}

label {
    color: #406A40;
    font-size: 16px;
    font-weight: bold;
}

input:focus {
  border: 2px solid #406A40;
  transition: none;
}

input {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc00;
  border-radius: 10px;
    font-size: 18px;
    color:#2D3E2E;
}

#donasi {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold ;
  color: #406A40;
  
}

#Rp {
  font-weight: bold;
  font-size: 34px;
  color: #DE8B3E;
}

.value{
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

#nominal-lain {
    margin-bottom: 60px;
}

.row1-money, .row2-money {
  display: flex;
  gap: 30px;
  flex: 1;
  width: 100%;
}

.input-uang {
  display: none;
}

.label-uang {
  cursor: pointer;
  border: 2px solid #406A40;
  border-radius: 50px;
  width: 100%;
  min-width: 140px;
  color: #406A40;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  padding: 15px 20px;
  text-align: center;
}

.input-uang:checked + .label-uang {
  background-color:  rgb(235, 133, 0);
  border: 2px solid rgb(171, 60, 0);
  color: white;
}

.label-uang:hover{
  background-color:  rgb(255, 222, 179);
  border: 2px solid rgb(171, 60, 0);
  color: rgb(130, 56, 21);
}

.Pilih-Metode {
  color: #2D3E2E;
  margin-top: 40px;
}


.anon {
    display: flex;
    justify-content: right;
    width: 100%;
}

.anon label {
  user-select: none; 
  margin-top: 5px;
  font-weight: 400;
}

.anon input {
    display: inline;
    width: 15px;
    justify-content: center;
    margin-right:10px;
    margin-bottom: 10px;
}

.Harapan {
  color: #2D3E2E;
}

.Harapan textarea {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  background-color:#ffffffda;
  border-radius: 10px;
  resize: none;
  padding: 15px;
}

.Harapan textarea:focus {
  border: 2px solid #406A40;
  transition: none;
}

.lanjut-bayar{
    display: flex;
    -ms-flex-align: end;
    max-width: 100%;
    height: 60px;
    justify-content: right;
}

.lanjut-bayar input[type="submit"] {
    background-color: #f19239;;
    color: #fff;
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.lanjut-bayar input[type="submit"]:hover {
    background-color: #e89b53;;
    cursor: pointer;
}

.space {
  max-width: 100%;
  height: 2px;
  background-color: #7F9F7F;
}


/* popup window */
.popup-confirm {
  visibility: hidden;
  align-content: center;
  text-align: center;
  position: fixed;
  width: 90%;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: -1px 0px 5px 0px rgba(153, 153, 153, 0.738);
  padding: 50px;
}

.text-popup h2 {
  margin-bottom: 30px;
}

.btn-kembali, .btn-kembali a{
  padding: 10px;
  margin-top: 40px;
  background-color: rgb(115, 179, 78);
  border-radius: 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.tick_img {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tick_img img{
  animation: popup 1s;
}

@keyframes popup {
  0%{
      transform: scale(1);
  }
  50%{
      transform: scale(1.4);
  }
  60%{
      transform: scale(1.1);
  }
  70%{
      transform: scale(1.2);
  }
  80%{
      transform: scale(1);
  }
  90%{
      transform: scale(1.1);
  }
  100%{
      transform: scale(1);
  }
}


@media screen and (max-width: 1100px) {
  .contents {
    margin-top: 30px;
    padding: 100px;
    min-width: 80%;
  }

  .PUSPA h1 {
      font-size: 24px;  
  }

  .value{
      width: 100%;
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
      
  }

  .row1-money {
    margin-bottom: 20px;
  }

  .row1-money, .row2-money {
    min-width: 100%;
    display: flex;
  }

  .money{
      width: 100%;
      padding: 10px;
      border-radius: 28px;
  }

  #border-nominal {
      max-width: 100%;
  }

  label {
      font-size: 14px;
  }
}     

@media screen and (max-width: 600px) {
.contents {
    min-width: 90%;
    padding: 30px;
}

  .row1-money, .row2-money {
    flex-wrap: wrap;
    height: fit-content;
  }

  .row2-money {
    margin-bottom: 20px;
  }

  .value{
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .money{
    min-width: 200px;
    font-size: 15px;
  }

  label {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .contents {
      min-width: 90%;
      padding: 20px;
  }
  
    .row1-money, .row2-money {
      flex-wrap: wrap;
      height: fit-content;
    }

    .label-uang {
      font-size: 15px;
    }
    .row1-money {
      margin-top: 20px;
    }
  
    .row2-money {
      margin-bottom: 20px;
    }

    #Rp {
      font-size: 16px;
    }
  
    .value{
      justify-content: space-between;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  
    .money{
      min-width: 270px;
      font-size: 17px;
    }
  
    label {
      font-size: 17px;
    }
  }

  