@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

*{
    font-family: 'Open Sans Hebrew', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    border:none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    background-image: url(../donasi_images/donasi7.png);
    background-repeat: no-repeat;
    background-position: -250px -80px;
    background-color: #ECE9E4;
}

/*INTERVAL DONASI*/
.pilihan a {
    display: flex;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
    color: rgb(91, 36, 11);
}

.pilihan {
    width: 60%;
    display: block;
    margin: 60px auto 0 auto;
    justify-content: center;
}

.radio-menu {
    width: 100%;
    height: 60px;
    display: inline-flex;
    overflow: hidden;
    border-radius: 30px;
    outline-color: rgb(130, 56, 21);
    outline-width: 1px;
    outline-style: solid;
}

.radio-kartu {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    display: inline-flex;
    overflow: hidden;
    border-radius: 30px;
    outline-color: rgb(130, 56, 21);
    outline-width: 1px;
    outline-style: solid;
}

.input-radio {
    display: none;
}

.label-radio {
    height: 100px;
    padding-top: 17px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    background: #ffffff;
    color: rgb(130, 56, 21);
    cursor: pointer;
    transition: background 0.1s;
    font-size: 18px;
    font-weight: bold;
}

.kartu label {
    padding-top: 10px;
}

.label-radio:hover {
    background-color:  rgb(255, 222, 179);
    color: rgb(130, 56, 21);
}

.label-radio:not(:last-of-type) {
    border-right: 1px solid rgb(130, 56, 21);
}

.input-radio:checked + .label-radio {   
    color:rgb(255, 251, 247);
    background: rgb(235, 133, 0);
}

/*form donasi*/
form {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding:  20px 100px;
    width: 60%;
    margin: 20px auto 60px auto;
    background-color:#ffffff;
    border-radius: 12px;
    font-weight: bold;
    color:#406A40;
    outline-color: rgb(130, 56, 21);
    outline-width: 1px;
    outline-style: solid;
}

#donasi {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold ;
    color: #406A40;
    
}
  
#Rp {
    font-weight: bold;
    font-size: 34px;
    color: #DE8B3E;
    margin-bottom: 30px;
}
  
.value{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}
  
.donasi-custom label {
    margin-bottom: 5px;
}
  
.row1-money, .row2-money {
    display: flex;
    gap: 10px;
    flex: 1;
    width: 100%;
}
  
.input-uang {
    display: none;
}

.label-uang {
    cursor: pointer;
    border: 2px solid #406A40;
    border-radius: 50px;
    width: 100%;
    min-width: 140px;
    color: #406A40;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 20px;
    text-align: center;
}

.input-uang:checked + .label-uang {
    background-color:  rgb(235, 133, 0);
    border: 2px solid rgb(171, 60, 0);
    color: white;
}

.label-uang:hover{
    background-color:  rgb(255, 222, 179);
    border: 2px solid rgb(171, 60, 0);
    color: rgb(130, 56, 21);
}

label {
    display: block;
}

.input-box{
    width: 100%;
    margin-top: 20px;
    max-width: 100%;
}

.donasi-custom {
    margin-bottom: 30px;
}

#customDonasi input::placeholder {
    overflow: visible;  
    font: 16px;
}

.input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 16px;
    color: black;
    margin-top: 4px;
    border-radius: 10px;
    padding: 0 15px;
}

.input-box input:focus{
    border: 2px solid #406A40;
}

.column {
    display:flex;
    column-gap: 30px;
}

.column-alamat {
    margin-top: 20px;
    justify-content: space-between;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.input-box-alamat {
    min-width: 160px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #a3a3a3;
    background-color: #ededed;
    border-radius: 10px;
}

.parent {
    margin-top: 50px;
    text-align: center;
  }
  
input[type="submit"] {
    background-color:rgb(235, 133, 0);
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

#bayar-menggunakan {
    font-size: 18px;
    margin-bottom: 10px;
}

.kartu{
    margin: 20px auto 0;
    width: 50%;
    min-width: 250px;
    height: 50px;
    border-radius: 8px;
    font-size: 0 2px 3 px 0 rgba(0,0,0,.1);
    max-width: 100%;
    height: auto;
}

.kartu a{
    font-size: 15px;
    text-transform: uppercase;
    color:black;
    text-decoration: none;
    line-height: 50px;
    z-index: 1;
    display: inline-block;
    text-align: center;
    
}

.detail-kartu {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.tgl-exp, .cvv {
    flex: 1;
}

#horizontal-line{
    height: 1px;
    width: 760px;
    background-color:#254225;
    margin-bottom: 20px;
    max-width: 100%;
}

.anon {
    border-top: 1px solid #254225;
    margin-top: 30px;
    display: flex;
    justify-content: right;
    width: 100%;
  }
  
  .anon label {
    user-select: none; 
    font-weight: 400;
  }
  
  .anon input {
    max-width: 15px;
    justify-content: center;
    margin-right:10px;
    margin-top: 2px;
  }
  

/* popup window */
.popup-confirm {
    visibility: hidden;
    align-content: center;
    text-align: center;
    position: fixed;
    width: 90%;
    min-width: 300px;
    max-width: 500px;
    height: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: -1px 0px 5px 0px rgba(153, 153, 153, 0.738);
    padding: 50px;
    z-index: 1001;
}

#overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3b3b3b96;
    z-index: 1000;
}

.text-popup {
    height:fit-content;
    margin-bottom: 20px;
}

.text-popup h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-kembali, .btn-kembali a{
    padding: 10px;
    margin-top: 40px;
    background-color: rgb(115, 179, 78);
    border-radius: 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
} 
 
.tick_img {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tick_img img{
    animation: popup 1s;
}   
  
@media(max-width: 1000px) {
    .pilihan {
        width: 70%;
    }

    form {
        width: 70%;
        padding: 20px 40px;
    }

    .value{
        width: 100%;
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;  
        margin-bottom: 50px;
    }
  
    .row1-money, .row2-money {
        min-width: 100%;
        display: flex;
    }
  
    .money{
        width: 100%;
        padding: 10px;
        border-radius: 28px;
    }

    #border-nominal {
        max-width: 100%;
    }

    .form label {
        font-size: 14px;
    }

    .input-box {
        width: 100%;
        margin-top: 20px;
        max-width: 100%;
    }

    .input-box input{
        position: relative;
        height: 40px;
        width: 100%;
        outline: none;
        font-size: 1rem;
        color: black;
        margin-top: 4px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0 15px;
    }
    .column{
        display:flex;
        column-gap: 30px;
    }
}     

@media(max-width: 630px) {
    label {
        font-size: 14px;
    }
    .pilihan {
        width: 90%;
    }
    
    .contents {
        min-width: 90%;
    }

    .row1-money, .row2-money {
        flex-wrap: wrap;
        height: fit-content;
    }

    .row2-money {
        margin-bottom: 20px;
    }

    .value{
        justify-content: space-between;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .money{
        min-width: 200px;
        font-size: 15px;
    }

    .form {
        display: block;
    }

    .column {
        display: flex;
        flex-wrap: wrap;    
        width: 100%;
    }

    .column-alamat {
        margin-top: 20px;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .column-alamat label {
        margin-bottom: 5px;
    }

    .input-box-alamat {
        min-width: 40%;
        margin-bottom: 20px;
    }

    .input-box {
        min-width: 100%;
        margin-top: 20px;
        max-width: 100%;
    }

    .input-box input{
        position: relative;
        height: 40px;
        width: 100%;
        outline: none;
        font-size: 1rem;
        color: black;
        margin-top: 4px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0 15px;
    }

    .column{
        display:flex;
        column-gap: 30px;
    }

    .detail-kartu label {
        height: 39px;
    }
}