@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

html { scroll-behavior: smooth; }

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
}

*{
    font-family: 'Open Sans Hebrew', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    border:none;
    text-decoration: none;
    transition: .2s linear;
}



/* hero image */
.hero {
    display: flex;
}

.hero img {
    position: relative;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    min-height: 500px;
}

.hero-text {
    display: block;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 60%;
    height: fit-content;
}

.hero-text h1, .hero-text h2 {
    text-decoration: none;
    font-family: 'Open Sans Hebrew', sans-serif;
    text-align: center;
    color: #f9f3f1;
    text-shadow: 0px 1px 10px rgba(46, 32, 32, 0.9);
    animation: fadeIn 2s ease-in; 
}

.hero-text h1 {
    font-size: 45px;
    font-weight: 600;
}

.hero-text h2 {
    font-size: 20px;
    font-weight: 600;   
}


.contents {
    top:0;
    background-color:#ECE9E4;
    width: 100%;
    height: fit-content;
    padding: 20px;
    padding-bottom: 100px;
}



/* penjelasan umum donasi PUSPA */
.container {
    padding: 30px;
    margin: 20px auto 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0px 1px 5px #b7a8a8;
    font-size: 15px;
    text-align: justify;
    color: #406A40;
}
.donasi-illus {
    display: flex;
    width: fit-content;
    height: 300px;
    margin: 30px auto;
    padding-left: 40px;
    justify-content: center;
}

.img-illus {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

#btn-scroll-donasi {
    display: block;
    margin: auto;
}

.btn-donasi {
    top: 80px;
    width: 190px;
    height: 50px;
    background-color: #e37d2e;
    border-radius: 10px;
}

.btn-donasi a {
    font-family: 'Open Sans Hebrew', sans-serif;
    color:#faf9ff;
    font-weight: 550;
    font-size: 16px;
}
.btn-donasi:hover{
    cursor: pointer;
    background-color: #ffa55c;
}



/* penggunaan donasi puspa */
.tahap-div {
    align-items: center;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 150px;
}

.judul-tahap {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #406A40;
}

.tahap-items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 100%;
    margin-right: 60px;
    margin-left: 60px;
    justify-content: center;
    margin-top: 50px;
}

.tahap1, .tahap2, .tahap3, .tahap4{
    display: inline-block;
    justify-content: center;
    width: 200px;
    height: 300px;
    margin-bottom: 30px;
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color:#406A40;
}

.tahap1 img, .tahap2 img, .tahap3 img, .tahap4 img{
    display: inline-block;
    padding: 10px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    background: linear-gradient(0deg, rgb(47, 114, 96) 5%, rgb(68, 118, 68) 100%);
    box-shadow: 0px 3px 10px #868686;
}

/* deskripsi jenis-jenis donasi */
#deskripsi-donasi {
    scroll-margin-top: 120px;
}

.deskripsi-donasi {
    display: flex;
    margin: 0 21%;
    gap: 50px;
}

.reguler, .berulang {
    flex: 1;
    justify-content: center;
}

.container-reguler, .container-berulang {
    background: linear-gradient(0deg, rgb(47, 114, 96) 5%, rgb(68, 118, 68) 100%);
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    color:#ECE9E4;
}

.reguler img, .berulang img {
    display: flex;
    width: 60%;
    object-fit: contain;
    margin: auto auto 30px  auto;
}

.deskripsi-text {
    min-height: 230px;
    text-align: justify;
}

.container-reguler h2, .container-berulang h2 {
    margin-bottom: 10px;
}

#container-2 {
    margin: 200px auto 0 auto;
    box-shadow: none;
    width: 60%;
    justify-content: center;
    text-align: center;
    display: block;
}

.logo-sponsor {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.logo-sponsor img {
    margin-top: 20px;
    object-fit: contain;
    width: 100%;
    height: 70px;
}

#BNI {
    margin-top: 30px;
    height: 50px;
}

@media(max-width: 1080px) {
    .hero-text {
        width: 80%;
    }
    
    .hero-text h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .hero-text h2 {
        font-size: 16px;
    }
}

@media(max-width:1100px) {

    .tahap-div {
        margin: 0 80px 150px 80px;
    }

    .tahap1, .tahap2, .tahap3, .tahap4 {
        margin-bottom: 0;
    }

    .deskripsi-donasi {
        margin: 0 6%;
    }

    .input-box {
        min-width: 100%;
    }
}

@media(max-width: 800px) {
    .container {
        width: 95%;
    }

    .reguler img, .berulang img {
        max-height: 200px;
    } 

    .deskripsi-donasi {
        flex-wrap: wrap;
        font-size: 14px;
    }

    .reguler, .berulang {
        min-width: 50%;
    }

    #container-2 {
        padding: 20px;
        width: 80%;
        font-size: 13px;
    }

    .deskripsi-text {
        min-height: 180px;
        text-align: justify;
    }

    .tahap-items {
        gap: 30px;
    }

    .tahap1, .tahap2, .tahap3, .tahap4 {
        margin-bottom: 0;
    }
    
    #container-2 {
        margin-bottom: 50px;
    }

    .logo-sponsor {
        margin-top: 20px;
        display: block;
    }

    .logo-sponsor img {
        height: 80px;
    }
}