@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Hebrew', serif;
    text-decoration: none;
}

html { scroll-behavior: smooth; }

body {
    background: linear-gradient(0deg, rgba(93,142,113,1) 5%, rgba(118,165,117,1) 100%);
}

#green-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    top: -20%;  
    z-index: -1;
}

.contents {
    padding: 100px;
    width: 100%;
    height: fit-content;
}

.sidebar {
    position: fixed;
    display: flex;
    right:20px;
    top: 10%;
    opacity: 0.9;
}

.nav {
    color: rgb(97, 97, 97);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ECE9E4;
    outline: 2px solid #b2b2b2;
    margin-bottom: 20px;
    cursor:pointer;
}

.nav a{
    text-decoration: none;
    color: rgb(97, 97, 97);
}

.nav-logo {
    margin-right: 8px;
}

#sidebar-close, #sidebar-open {
    color: grey;
    border: none;
    outline: 2px solid #b2b2b2;
    border-radius: 100%;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    position: absolute;
    background-color: #ECE9E4;
    cursor: pointer;
}

#sidebar-open {
    right: 20px;
    opacity: 0;
}

#sidebar-close {
    right: 150px;
    opacity: 0.9;
}

#judul {
    font-size: 30px;
    color: #ECE9E4;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bolder;
}

.subjudul {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bolder;
}

/* anchors */
#informasi, #syarat, #lokasi {
    scroll-margin-top: 100px;
}

.container {
    margin-bottom: 150px;
    background-color: #1f392cc3;
    padding: 5%;
    border-radius: 20px;
    color: #f7efe3;
    box-shadow: 0px 0px 3px #273226;
}

.deskripsi {    
    color: #1f392cc3;
    background-color: #ECE9E4;
    box-shadow: 0px 0px 5px #ffffff;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    width: 80%;
    margin: auto;
}

#informasi .deskripsi , #syarat .deskripsi {
    margin-bottom: 40px;
}

.judul-deskripsi {
    width: 300px;
}

.judul-deskripsi-img {
    width: 100%;
    display: flex;
}

.judul-deskripsi img {
    object-fit: contain;
    width: 100%;
}
.judul-deskripsi h3 {
    text-align: center;
}
.deskripsi ol{
    width: 100%;
    height: fit-content;
    margin: auto;
    text-align: justify;
    text-justify: inter-character;
    margin-left: 60px;
}

.deskripsi ol li {
    padding-left: 7px;
    margin-bottom: 15px; 
}

.para {
    color: #1f392cc3;
    background-color: #ECE9E4;
    box-shadow: 0px 0px 5px #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    text-align: justify;
    text-justify: inter-character;
    margin: auto auto 30px auto;
}

.deskripsi ul {
    font-size: 18px;
    margin: auto;
    width: 90%;
    height: fit-content;
    margin-left: 50px;
}

.deskripsi ul li {
    margin-bottom: 40px;
}

#lokasi .deskripsi {
    justify-content: center;
    display: block;
}

#lokasi .judul-deskripsi {
    margin: auto;
}

#lokasi .judul-deskripsi-img {
    width: 200px;
    margin: auto;
}

#daftar .deskripsi {
    background-color: #27322600;
    box-shadow: 0 0 0;
}

#radio-role {
    text-align: center;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 30px;
}

.role input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(43, 50, 55);
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(43, 50, 55);
}

.role label {
    color:#273226;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.role {
    border-radius: 20px;
    width: 100%;
    background-color: #ECE9E4;
    padding: 40px;
}

.role-img {
    display: flex;
    width: fit-content;
    height: 200px;
    margin: auto;
}

.role-img {
    object-fit: contain;
}

@media (max-width: 900px) {
    .contents {
        padding: 0;
        padding-top: 60px;
    }
    .container {
        width: 100%;
    }
    .sidebar {
        top: 90px;
        right:10px;
        width: fit-content;
        opacity: 0.9;
    }
}

@media (max-width: 600px) {
    #judul {
        width: 50%;
        margin: 30px auto;
    }

    .container {
        padding: 40px 0;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px #273226;
    }

    .deskripsi {
        display: block;
        width: 100%;
    }

    .judul-deskripsi {
        text-align: center;
        margin: auto;
    }

    .deskripsi ol, .deskripsi ul {
        width: 90%;
        margin: 30px;
    }

    .deskripsi ul {
        margin-left: 30px;
    }

    .deskripsi {
        border-radius: 0;
    }

    .para {
        width: 100%;
        padding: 40px;
        margin: 0 0 30px 0;
    }
}

