@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
 
    to {  
        opacity:1;  
    }  
}


*{
    font-family: 'Open Sans Hebrew', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    border:none;
    text-decoration: none;
    transition: .2s linear;
}

body {
    background-color: #ECE9E4;
}

.heroimage {
    margin-bottom: 50px;
}

.heroimage img {
    position: relative;
    object-fit: contain;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.heroimage a {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-decoration: none;
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #f9f3f1;
    text-shadow: 0px 1px 5px rgba(255,255,255,0.69);
    animation: fadeIn 1s ease-in; 
}


.tahap-div {
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.judul-tahap {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    color: #406A40;
}

.tahap-items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
    margin-top: 50px;
}

.tahap1, .tahap2, .tahap3, .tahap4{
    display: inline-block;
    justify-content: center;
    width: 200px;
    height: 300px;
    margin-bottom: 30px;
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color:#406A40;
}

.tahap1 img, .tahap2 img, .tahap3 img, .tahap4 img{
    display: inline-block;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    opacity: 80%;
}

.tahap1:hover, .tahap2:hover, .tahap3:hover, .tahap4:hover{
    transition-timing-function: ease;
    transition-duration: 800ms;
    animation-delay: 80ms;
    width: 240px;
}

.tahap1:hover, .tahap2:hover, .tahap3:hover, .tahap4:hover{
    font-size: 18px;
}

.tahap1 img:hover, .tahap2 img:hover, .tahap3 img:hover, .tahap4 img:hover{
    transition-timing-function: ease;
    transition-duration: 800ms;
    animation-delay: 80ms;
    width: 240px;
    height: 240px;
    opacity:100%;
}


.btn-volunteer {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    margin-bottom: 100px;
}

.tahap-div button {
    margin-top: 20px;
    width: 140px;
    height: 50px;
    background-color: #de8b3e;
    border-radius: 30px;
    font-family: 'Open Sans Hebrew', sans-serif;
    color:#f0eeea;
    font-weight: 550;
    font-size: 16px;
}

.tahap-div button:hover {
    background-color: #f5a567;
    font-size: 15px;
    width:137px;
    height:48px;
}

.bottom-bar {
    display: flex;
    max-width: 100%;
    margin-top: 250px;
    height:600px;
}

.news {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 50px;
    height: 600px;
    justify-content: left;
    background: linear-gradient(0deg, rgba(37,89,75,1) 5%, rgba(51,87,51,1) 100%);
    overflow-x:scroll; 
    overflow-y:hidden; 
    z-index: 900;
}

.news::-webkit-scrollbar {
    background-color: #1f351f;
}

.news::-webkit-scrollbar-thumb {
    background-color:#5f945f
}

.news img {
    height: 200px;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: -1px 0px 13px 0px rgba(21, 46, 17, 0.738);
}

.news1 {
    padding: 50px;
    height: 400px;
    width: 400px;
    text-align: justify;
}

.news1 a {
    text-align: justify;
    color:#dbe5d6;
    font-family: 'Open Sans Hebrew', sans-serif;
    font-size: 15px;
    font-weight: 475;
}

.sidebar {
    max-height: 100%;
    min-width: 400px;
    background: linear-gradient(0deg, rgba(93,142,113,1) 5%, rgba(118,165,117,1) 100%);
    padding: 50px;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: bold;
    color: #ECE9E4;
}

.judul-sidebar {
    margin-top:10px;
    margin-bottom: 40px;
    font-size: 30px;
}

.stats1, .stats2, .stats3 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.stats1 img, .stats2 img, .stats3 img {
    object-fit: contain;
    max-width: 70px;
}

.stats1-text {
    width: 200px;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
}

.stats1-header a{
    font-size: 9px;
}

#satuan-donasi {
    font-size: 19px;
}

#donasi-uang {
    font-size: 28px;
}

#donasi {
    font-size: 28px;
}

.btns-sidebar {
    margin-top: 30px;
}

.btn-stats {
    margin-bottom: 20px;
}

.btn-stats, .btn-stats a:active, .btn-stats a:visited,
.btn-donasi, .btn-donasi a:active, .btn-donasi a:visited{
    width: 190px;
    height: 50px;
    background-color: #f0eeea;
    border-radius: 30px;
    font-family: 'Open Sans Hebrew', sans-serif;
    color:#de8b3e;
    font-weight: 550;
    font-size: 16px;
}

.btn-stats:hover, .btn-donasi:hover{
    cursor: pointer;
    background-color: #e0d1b2;
    color: #bb5b1f;
}

@media(max-width: 1000px) {
    .heroimage img {
        object-fit: cover;
        width: 100%;
        height: 800px;
    }

    .heroimage a {
        font-size: 24px;
        margin-top: 20px;
    }

    .open-menu{
        display: block;
    }

    #check:checked ~ ul {
        margin-top: 250px;
    }

    .bottom-bar {
        display: block;
        height:fit-content;
    }
    .news {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        display: block;
    }
}
