@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

*{
    font-family: 'Open Sans Hebrew', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    border:none;
    text-decoration: none;
    transition: .2s linear;
    background-color: #ECE9E4;
}

.open-menu, .close-menu {
  position: absolute;
  color:#1f351f;
  cursor: pointer;
  font-size: 20px;
  display:none;
  z-index: 1000;
}

#check {
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 0;
  right: 24px;
}

body {
    
    background-image: url(homepage_images/hero_image2.jpg);
}

.contents {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    margin-bottom: 60px;
    padding: 60px 100px;
    max-width: 60%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #9fbaa5;
}
.Pilih-Metode,
.Identitas,
.Harapan,
.lanjut-bayar {
  max-width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}


.PUSPA img {
  object-fit: fill;
  border-radius: 3px;
  max-width: 100%;
}
.PUSPA h1{
  color: #406A40;
  margin-bottom: 30px;
  font-size: 40px;
  
}

label {
    color: #406A40;
    font-size: 18px;
}

input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #c9c7c2da;
    border-radius: 10px;
    font-size: 18px;
    color:#2D3E2E;
}

#donasi {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold ;
  color: #406A40;
  
}

#Rp {
  font-weight: bold;
  font-size: 34px;
  color: #DE8B3E;
  
}

.value{
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

#nominal-lain {
    margin-bottom: 60px;
}

.money{
  flex: 1;
    border: 2px solid #406A40;
    border-radius: 50px;

    width: 100%;
    min-width: 140px;
    max-width: 25%;
    color: #406A40;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 20px;
    text-align: center;
}

.money:hover{
  background-color: #406A40;
  color: white;
}


.Pilih-Metode {
  color: #2D3E2E;
}

.Identitas {
  max-width: 100%;
  color: #2D3E2E;
}

.email {
    margin-top: 50px;
}


.anon {
    display: flex;
    justify-content: right;
    width: 100%;
}

.anon label {
  user-select: none; 
  margin-top: 8px;
}
.anon input {
    display: inline;
    width: 15px;
    justify-content: center;
    margin-right:10px;
    margin-bottom: 10px;
}

.Harapan {
  color: #2D3E2E;
}

.Harapan textarea {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  background-color:#c9c7c2da;
  border-radius: 10px;
  padding: 15px;
}


.lanjut-bayar{
    display: flex;
    -ms-flex-align: end;
    max-width: 100%;
    height: 60px;
    justify-content: right;
}

.lanjut-bayar input[type="submit"] {
    background-color: #DE8B3E;;
    color: #fff;
    width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.lanjut-bayar input[type="submit"]:hover {
    background-color: #e89b53;;
    cursor: pointer;
}

.space {
  max-width: 100%;
  height: 2px;
  background-color: #7F9F7F;
}


@media(max-width: 1000px) {
  .contents {
    padding: 40px;
    width: 90%;
  }
  .open-menu{
      display: block;
  }

  #check:checked ~ ul {
      margin-top: 250px;
      opacity: 1;
  }

  .PUSPA h1 {
      font-size: 24px;  
  }

  .value{
      width: 100%;
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 20px;
  }

  .money{
    width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 28px;
      min-width: 200px;
  }

  #border-nominal {
      max-width: 100%;
  }

  label {
      font-size: 14px;
  }
}     

@media(max-width: 600px) {
  .contents {
      max-width: 80%;
      padding: 30px;
  }

  .value{
      justify-content: space-between;
      width: 100%;
      display: flex;
      margin-bottom: 20px;
  }

  .money{
      min-width: 100%;
      font-size: 15px;
  }
}